#search-for{
    margin: 10px;
}

div#search-for.input-group.hidden-xs.hidden-sm.visible-md-lg{
    margin-bottom: -50px;
}

#search-fore{
    margin: 10px;


}

.row {
    margin-bottom: 25px;
}

.text-center {
    margin-bottom: 25px;
}

a.fa{
    text-decoration: none;
    color: #0f0f0f;
}
div.panel-footer{
    height: 125px;

}
ul{
    list-style-type: none;
}
#contact-us{
    margin-top: -46px;

}
a.fa{
    font-size:x-large;
}
a.fa.fa-twitter{
    margin-left: 5px;
}
a.fa.fa-instagram{
    margin-left: 5px;
}
